body{
    font-family: 'Montserrat', sans-serif;
    max-width: 80vw;
    margin: auto;
    text-align: center;
}

div img {
    width: 20%;
    float: left
}

img.displayed-img{
    padding-top: 1%;
}

#thumb-bar:after{
    content: "";
    clear: both;
    display: block;
}

form{
    padding: 5vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 640px){
    body{
        max-width: 640px;
    }
    p{
        text-align: left;
    }
    form{
        flex-flow: row wrap;
        justify-content: space-around;
    }
}