body{
    font-family: 'Montserrat', sans-serif;
    width: 640px;
}
div img {
    width: 20%;
}
header h1, header p {
    margin: auto;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 1em;
}
img{
    float: left
}
#thumb-bar:after{
    content: "";
    clear: both;
    display: block;
}
@media screen and (max-width: 640px){
    body{
        width: 80vw;
    }
}