body{
    font-family: 'Montserrat', sans-serif;
    max-width: 80vw;
    margin: auto;
    text-align: center;
}
div img {
    width: 20%;
}
ul{
    list-style-type: none;
    padding: 0px;
    padding-bottom: 1vh;
}
img{
    float: left
}
#thumb-bar:after{
    content: "";
    clear: both;
    display: block;
}
form{
    padding: 5vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 640px){
    body{
        max-width: 640px;
    }
    p{
        text-align: left;
    }
    form{
        flex-flow: row wrap;
        justify-content: space-around;
    }
}