body{
    font-family: 'Montserrat', sans-serif;
    max-width: 640px;
    margin: auto;
}
div img {
    width: 20%;
}
header h1, header p {
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 1em;;
}
img{
    float: left
}
#thumb-bar:after{
    content: "";
    clear: both;
    display: block;
}
form{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
@media screen and (max-width: 640px){
    body{
        max-width: 80vw;
    }
}